<section class="hero content">
  <h2 class="content__subtitle">AP Creative</h2>
  <h1 class="content__title">Left Handed Pens</h1>
  <a class="hero__btn" href="/products">Get Started!</a>
</section>
<section class="cards">
  <ul>
    {{#each cardData}}
      <li class="cards__card">
        <img class="card__img" src="{{img}}" alt="Image of a {{title}}">
        <div class="card__info">
          <h2 class="card__title">{{title}}</h2>
          <p class="card__desc">{{description}}</p>
          <a href="/" class="card__link">Buy Now</a>
        </div>
      </li>
    {{/each}}
  </ul>
  <div class="card__stats">
    <ul>
      {{#each statData}}
      <li class="card__stat">
        <p class="card__stat-desc">{{statValue}}</p>
        <h3 class="card__stat-title">{{statTitle}}</h3>
      </li>
      {{/each}}
    </ul>
  </div>
</section>
<section class="value content">
  <img class="value__img" src="" alt="">
  <div class="value__text">
    <h3 class="content__subtitle value__subtitle">Our Value</h3>
    <h2 class="content__title value__title">What Sets Us Apart</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At iusto eaque aut perferendis error mollitia quis doloribus sapiente! Eos exercitationem, deserunt iusto provident neque eveniet aliquid labore quod, est natus amet modi obcaecati quo assumenda sit reiciendis nisi magni!</p>
  </div>
</section>
<section class="closing">
  <h3>Lefties Love</h3>
  <h2>What Are You Waiting For?</h2>
  <a href="/" class="closing__link">View Our Offerings!</a>
</section>