<section class="hero content">
  <h2 class="content__subtitle">AP Creative</h2>
  <h1 class="content__title">Left Handed Pens</h1>
  <a class="hero__btn" href="/products">Get Started!</a>
</section>
<section class="cards">
  <ul class="cards__list">
    {{#each cardData}}
      <li class="cards__card">
        <img class="card__img" src="{{img}}" alt="Image of a {{title}}">
        <div class="card__info">
          <h2 class="card__title">{{title}}</h2>
          <p class="card__desc">{{description}}</p>
          <div class="card__link">
            <a href="/" class="card__buy">Buy Now</a>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
  <div class="card__stats">
    {{!-- Background image source: https://www.pexels.com/photo/modern-art-painting-in-white-950241/ --}}
    <ul>
      {{#each statData}}
      <li class="card__stat">
        <p class="card__stat-desc">{{statValue}}</p>
        <h3 class="card__stat-title">{{statTitle}}</h3>
      </li>
      {{/each}}
    </ul>
  </div>
</section>
<section class="value content">
  {{!-- Image source: https://www.pexels.com/photo/three-ball-point-pens-983826/ --}}
  <img class="value__img" src="images/assorted_pens.jpg" alt="Three pens: One orange, another beige, and the last one mint green">
  <div class="value__text">
    <h3 class="content__subtitle value__subtitle">Our Value</h3>
    <h2 class="content__title value__title">What Sets Us Apart</h2>
    <p class="value__para">We strive to be the best choice for left handed pens; always improving our product to a standard set high by us, and maintained by our community. Because of this, Left Handed Pens has consistently had a quality miles ahead of what our competitors have, making us the premier market for pens made for left handed individuals.</p>
    <p class="value__para">We also believe the market we act in is one that is sadly overlooked. Left handed individuals work too, and a lot of them actively use writing tools. After looking at what left handed keyboards have done to aid users with this unique trait, we decided we should throw in and create a market that people didn't know they needed.</p>
  </div>
</section>
<section class="closing">
  <h3 class="content__subtitle closing__subtitle">Lefties Love</h3>
  <h2 class="content__title closing__title">What Are You Waiting For?</h2>
  <a href="/products" class="closing__link">View Our Offerings!</a>
</section>